# 시계열 관련 NumPy 및 Pandas 기능

## python, numpy, pandas 날짜 타입 비교 및 정리

|라이브러리|날짜, 시간 클래스| 타임델타 클래스|
|-------|-------------|-------------|
|datatime|datetime, date, time|timedelta|
|numpy|datetime64|timedelta64|
|panads|Timestamp|Timedelta|

- datetime은 python 설치 시 기본적으로 내장된 라이브러리로, 날짜를 쓸 것인지, 시간을 쓸 것인지, 날짜와 시간을 합쳐쓸 것인지에 따라 클래스가 분화되어 있음.   
예를들어 `2021-3-16` (날짜)을 표시하고 싶으면 `date` 클래스를 사용하고, `2021-3-16 12:34:2` (날짜+시간)를 표시하고 싶으면 `datetime` 클래스를 사용.  


- `datetime64`나 `Timestamp`는 각각 numpy, pandas 라이브러리에서 새로 정의한 날짜시간 클래스.   
이 둘은 한 클래스로 날짜, 시간, 날짜+시간을 모두 정의할 수 있는 것이 특징.

### 날짜 데이터 정의 - python

In [1]:
import datetime

#날짜
print(datetime.date(2022, 5, 1))
#날짜 + 시간
print(datetime.datetime(2022, 5, 1, 15, 30, 45))
#시간
print(datetime.time(15, 30, 45))

2022-05-01
2022-05-01 15:30:45
15:30:45

### 날짜 데이터 정의 - numpy

In [2]:
import numpy as np 

#날짜
print(np.datetime64('2022-05-01'))

2022-05-01

### 날짜 데이터 정의 - pandas 
- pd.Timestamp :  python datetime.datetime 의 Pandas version
- pd.to_datetime :  Scalar, array-like, Series or DataFrame/dictionary 형태 data를 pandas DatetimeIndex로 날짜 변환.

In [3]:
import pandas as pd 

# Timestamp 함수를 사용하여 특정 날짜를 표현합니다.
print(pd.Timestamp(2022, 5, 1)) 

# 연, 월, 일, 시, 분을 지정하여 날짜와 시간을 표현합니다.
print(pd.Timestamp(year=2022, month=5, day=1, hour=12, minute=30)) 

# 문자열을 사용하여 날짜와 시간을 표현합니다. 
print(pd.Timestamp('2022-05-01 15:30:30'))

# 타입을 확인하면 Timestamp 임을 알 수 있습니다.
print(type(pd.Timestamp('2022/05/01 15:30:30')))
print()

# to_datetime 함수를 사용하여 문자열을 Timestamp 로 변환합니다.
print(pd.to_datetime('2022-05-01 15:30:30'))

# 변환된 객체의 타입을 확인합니다.
print(type(pd.to_datetime('2022/05/01 15:30:30')))

# 여러 개의 날짜를 리스트로 변환할 수도 있습니다.
print(pd.to_datetime(['2022/05/01', '2022/05/02']))   # list

2022-05-01 00:00:00
2022-05-01 12:30:00
2022-05-01 15:30:30
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

2022-05-01 15:30:30
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
DatetimeIndex(['2022-05-01', '2022-05-02'], dtype='datetime64[ns]', freq=None)

### Numpy 의 datetime64 format

- NumPy 날짜 배열은 ns(나노초) 단위의 datetime64 객체입니다. 
- 내부 저장 단위는 문자열 형태에서 자동으로 선택되며 날짜 단위 또는 시간 단위가 될 수 있습니다.   
- 날짜 단위는 년('Y'), 월('M'), 주('W'), 일('D')이고 시간 단위는 시('h'), 분('m'), 초('s'), 밀리초('ms') 입니다.

In [4]:
# 주어진 날짜와 시간을 담은 문자열의 리스트를 pandas Series로 생성합니다.
order_date = pd.Series(['2022-08-01 12:01:01', '2022-08-02 12:01:02', 
                        '2022-08-03 12:01:03', '2022-08-04 12:01:04'])

# pandas의 to_datetime 함수를 사용하여 문자열 형태의 날짜를 Timestamp 형태로 변환합니다.
order_date = pd.to_datetime(order_date)

# 변환된 결과를 출력합니다.
order_date

0   2022-08-01 12:01:01
1   2022-08-02 12:01:02
2   2022-08-03 12:01:03
3   2022-08-04 12:01:04
dtype: datetime64[ns]

`datetime64[D]` - 날짜

In [5]:
# numpy의 datetime64를 사용하여 Timestamp를 일 단위로 바꿉니다. 
# 이렇게 하면 시간 정보는 제거되고 날짜 정보만 남게 됩니다.
order_date_daily = np.array(order_date, dtype='datetime64[D]')

# 변환된 결과를 출력합니다.
order_date_daily

array(['2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04'],
      dtype='datetime64[D]')

`datetime64[M]` - 월

order_date_monthly = np.array(order_date, dtype='datetime64[M]')
order_date_monthly

In [6]:
# numpy의 datetime64를 사용하여 Timestamp를 월 단위로 바꿉니다. 
# 이렇게 하면 일과 시간 정보는 제거되고 연도와 월 정보만 남게 됩니다.
# 그 다음 unique 함수를 사용하여 중복된 월을 제거합니다.
np.unique(np.array(order_date, dtype='datetime64[M]'))

array(['2022-08'], dtype='datetime64[M]')

`'datetime64[Y]` - 연

In [7]:
# numpy의 datetime64를 사용하여 Timestamp를 연도 단위로 바꿉니다. 
# 이렇게 하면 월, 일, 시간 정보는 제거되고 연도 정보만 남게 됩니다.
# 그 다음 unique 함수를 사용하여 중복된 연도를 제거합니다.
np.unique(np.array(order_date, dtype='datetime64[Y]'))

array(['2022'], dtype='datetime64[Y]')

## DateTimeIndex 를 가진 Pandas 시계열 data 생성 및 처리

- Timestamp을 index 로 하는 data 를 시계열데이터 (TimeSeries) 라고 부른다. 즉, index 가 DatetimeIndex 인 데이터이다.

- 시계열관련 class 와 생성 방법

| class         |           설명          |                               생성방법 |Pandas Class|
|---------------|:-----------------------:|---------------------------------------:|------------:|
| Timestamp     |     하나의 timestamp    |                 to_datetime, Timestamp |pandas.Timestamp|
| DatetimeIndex | timestamp 타입의 인덱스 | to_datetime, date_range, DatetimeIndex |pandas.DatetimeIndex|
| Period        |       time period       |                                 Period |pandas.Period|

## to_datetime()

- 날짜/시간을 나타내는 **여러 종류의 문자열**을 자동으로 datetime 자료형으로 바꾼 후 DatetimeIndex 자료형 인덱스를 생성

In [8]:
# 다양한 형태의 날짜 문자열 리스트입니다.
date_str = ['2010-01-01', '2015, 7, 1', 'May, 1 2016', '2010/01/01',
            'Dec, 25, 2019', 'DEC 1 2020', 'dec 20 2021', '2020 12 31']

# pandas의 to_datetime 함수는 다양한 형태의 날짜 문자열을 인식하여 Timestamp 형태로 변환할 수 있습니다.
pd.to_datetime(date_str)

DatetimeIndex(['2010-01-01', '2015-07-01', '2016-05-01', '2010-01-01',
               '2019-12-25', '2020-12-01', '2021-12-20', '2020-12-31'],
              dtype='datetime64[ns]', freq=None)

## date_range
```python
pd.date_range(start, end, periods, freq)
```

- 모든 날짜/시간을 일일히 입력할 필요없이 **시작일과 종료일** 또는 **시작일과 기간**을 입력하면 범위 내의 인덱스를 생성  

- freq
    - S: 초  
    - T: 분  
    - H: 시간  
    - D: 일(day)  
    - B: 주말이 아닌 평일 (Business Day)
    - W: 주(일요일)  
    - M: 각 달(month)의 마지막 날  
    - MS: 각 달의 첫날  

[frequency alias](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases) 참조

start ~ 10일

In [9]:
# pandas의 date_range 함수는 지정된 시작일로부터 일정 기간동안의 날짜를 생성합니다.
# 이 경우 '2016-9-1'을 시작으로 10일간의 날짜를 생성합니다.
pd.date_range(start='2016-9-1', periods=10)

DatetimeIndex(['2016-09-01', '2016-09-02', '2016-09-03', '2016-09-04',
               '2016-09-05', '2016-09-06', '2016-09-07', '2016-09-08',
               '2016-09-09', '2016-09-10'],
              dtype='datetime64[ns]', freq='D')

start~end 사이 평일

In [10]:
# pandas의 date_range 함수를 사용하여 '2019-5-1'에서 '2019-5-10'까지의 날짜를 생성합니다.
# freq 파라미터를 'B'로 설정하면 주말(토, 일)을 제외한 평일만 생성됩니다.
pd.date_range('2019-5-1', '2019-5-10', freq='B')

DatetimeIndex(['2019-05-01', '2019-05-02', '2019-05-03', '2019-05-06',
               '2019-05-07', '2019-05-08', '2019-05-09', '2019-05-10'],
              dtype='datetime64[ns]', freq='B')

start ~ 12 개월

In [11]:
# pandas의 date_range 함수를 사용하여 '2019-01-01'부터 시작해서 12개월치의 날짜를 생성합니다.
# freq 파라미터를 'M'으로 설정하면 월별 마지막 날짜를 생성합니다.
dates = pd.date_range('2019-01-01', periods=12, freq='M')
dates

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='M')

DataFrame의 index를 datetime으로 변경

In [12]:
# numpy의 random.standard_normal 함수를 사용하여 평균이 0이고 표준편차가 1인 표준 정규분포에서 랜덤하게 수를 생성합니다.
# 이 때, (12, 4)는 생성할 배열의 형태를 의미하므로, 12x4 크기의 2차원 배열을 생성합니다.
a = np.random.standard_normal((12, 4))

# 생성한 랜덤 수 배열을 pandas DataFrame으로 변환합니다. 각 컬럼의 이름은 'n1', 'n2', 'n3', 'n4'로 설정합니다.
df = pd.DataFrame(a, columns=['n1', 'n2', 'n3', 'n4'])

# DataFrame의 인덱스를 앞서 생성한 dates로 설정합니다. 이 때, dates는 월별 마지막 날짜 12개를 가진 DatetimeIndex입니다.
df.index = dates

df.head()

                  n1        n2        n3        n4
2019-01-31  0.352280 -0.252613  0.406061  1.377921
2019-02-28 -0.577854 -0.591163 -1.019310  1.036229
2019-03-31  0.870836 -0.030736  0.727915  1.224150
2019-04-30 -0.490057 -0.046894  0.259578  0.034902
2019-05-31 -0.727502 -1.079100 -1.317819  1.309485

In [13]:
df.index

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='M')

## Pandas DatetimeIndex를 이용한 작업

In [13]:
# pandas의 date_range 함수를 사용해 2020년 8월 1일부터 2021년 8월 1일까지 월별로 날짜를 생성합니다. 
# 이때 freq='M'은 월별로 날짜를 생성하겠다는 의미입니다.
dates = pd.date_range('2020-08-01', '2021-08-01', freq='M')

# numpy의 random.randn 함수를 사용해 평균 0, 표준편차 1의 표준정규분포에서 랜덤한 수 12개를 생성합니다.
a = np.random.randn(12)

# 생성한 날짜와 랜덤 수를 이용해 pandas DataFrame을 생성합니다.
# 이때 'date', 'a'는 각각 컬럼의 이름입니다.
df = pd.DataFrame({'date': dates, 'a': a})

df

         date         a
0  2020-08-31 -0.924636
1  2020-09-30  1.745207
2  2020-10-31  0.225221
3  2020-11-30 -0.899186
4  2020-12-31  0.943344
5  2021-01-31  0.936117
6  2021-02-28 -2.032568
7  2021-03-31 -0.911356
8  2021-04-30 -2.433767
9  2021-05-31 -0.025333
10 2021-06-30  0.271672
11 2021-07-31 -1.058396

기존의  numpy datetime64 format 변수를 사용하여 인덱스 설정

In [15]:
df.set_index('date', inplace=True)
df

                   a
date
2020-08-31  1.494499
2020-09-30  0.125539
2020-10-31  0.194925
2020-11-30 -0.741537
2020-12-31  1.154009
2021-01-31  1.610528
2021-02-28  0.233175
2021-03-31 -0.035099
2021-04-30  0.169437
2021-05-31  0.841135
2021-06-30 -0.733517
2021-07-31  0.420519

In [16]:
df.index

DatetimeIndex(['2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30',
               '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31',
               '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31'],
              dtype='datetime64[ns]', name='date', freq=None)

### Subsetting data

이제 DatetimeIndex를 사용하여 데이터 하위 집합을 선택할 수 있습니다.

In [17]:
df.loc['2020']

                   a
date
2020-08-31  1.494499
2020-09-30  0.125539
2020-10-31  0.194925
2020-11-30 -0.741537
2020-12-31  1.154009

In [18]:
df['2020-08': '2020-12']

                   a
date
2020-08-31  1.494499
2020-09-30  0.125539
2020-10-31  0.194925
2020-11-30 -0.741537
2020-12-31  1.154009

### Datetime Components

Pandas Datetime 변수에는 여러 가지 유용한 구성 요소가 있습니다. DatetimeIndex를 사용하여 월, 연도, 요일, 분기 등과 같은 항목을 추출할 수 있습니다.

DatetimeIndex에서 date 추출

In [19]:
df.index.day

Int64Index([31, 30, 31, 30, 31, 31, 28, 31, 30, 31, 30, 31], dtype='int64', name='date')

- DatetimeIndex에서 day of week 추출 (Day of Week: Monday=0, Sunday=6)

In [20]:
df.index.dayofweek

Int64Index([0, 2, 5, 0, 3, 6, 6, 2, 4, 0, 2, 5], dtype='int64', name='date')

In [21]:
df['DayofWeek'] = df.index.dayofweek
df.head()

                   a  DayofWeek
date
2020-08-31  1.494499          0
2020-09-30  0.125539          2
2020-10-31  0.194925          5
2020-11-30 -0.741537          0
2020-12-31  1.154009          3

## resample

- 시간 간격을 재조정   
- 원래의 데이터가 그룹으로 묶이기 때문에 그룹 연산을 해서 대표값을 구해야 한다.

In [14]:
# numpy의 random.randn 함수를 사용해 평균 0, 표준편차 1의 표준정규분포에서 랜덤한 수 100개를 생성합니다.
# pandas의 date_range 함수를 사용해 2018년 1월 1일부터 월별로 100개의 날짜를 생성합니다.
# 생성한 랜덤한 수와 날짜를 이용해 pandas Series를 생성합니다.
ts = pd.Series(np.random.randn(100), 
               index=pd.date_range("2018-1-1", periods=100, freq="M"))

# 생성한 Series의 앞에서부터 5개의 데이터를 출력합니다.
ts.head()

2018-01-31    0.311552
2018-02-28   -0.705682
2018-03-31   -1.379482
2018-04-30    0.566634
2018-05-31    1.557457
Freq: M, dtype: float64

주 단위로 down-sampling

In [23]:
ts.resample('W')

주 단위 평균

In [24]:
ts.resample('W').mean()

2018-02-04   -0.364063
2018-02-11         NaN
2018-02-18         NaN
2018-02-25         NaN
2018-03-04    1.548387
                ...
2026-04-05    0.396765
2026-04-12         NaN
2026-04-19         NaN
2026-04-26         NaN
2026-05-03   -0.188918
Freq: W-SUN, Length: 431, dtype: float64

월 단위 평균

In [25]:
ts.resample('M').mean()

2018-01-31   -0.364063
2018-02-28    1.548387
2018-03-31   -1.247318
2018-04-30    0.534197
2018-05-31    0.705111
                ...
2025-12-31    1.124854
2026-01-31   -1.243231
2026-02-28    0.650264
2026-03-31    0.396765
2026-04-30   -0.188918
Freq: M, Length: 100, dtype: float64