# Basics of Returns (수익률)

- 가격(Prices)의 수익률(Returns) 변환

- 수익률 계산 및 수익률 시퀀스를 복리화

다양한 종류의 수익률이 있습니다. 아래에 주요 수익률들을 간단하게 정의하고 비교해 봅시다:

| 수익률 종류 | 정의 | 계산 방법 | 사용 상황 |
|:------:|:------:|:-------:|:------:|
| 단순 수익률(Simple Returns) | 한 시점에서 다음 시점까지의 수익률 | (후 시점의 가격 - 전 시점의 가격) / 전 시점의 가격 | 단기 거래, 다양한 주식들의 일일 또는 단기 수익률을 비교할 때 주로 사용 |
| 복리 수익률(Compound Returns) | 여러 시점에 걸친 수익률로, 이전 시점의 수익이 다음 시점의 수익 계산에 영향을 미침 | (최종값 / 초기값)^(1/n) – 1| 장기 투자에서 사용되며, 여러 기간 동안의 수익률을 계산할 때 사용 |
| 누적 수익률(Cumulative Returns) | 투자의 시작부터 특정 시점까지의 전체 수익률 | 현재 자산/과거자산 - 1 | 투자의 총 성과를 평가하는 데 사용 |
| 로그 수익률(Log Returns) | 연속 복리 수익률이라고도 하며, 단순 수익률의 로그 값을 사용 | ln(후 시점의 가격 / 전 시점의 가격) | 복리 효과를 가정하는 모델에서 사용하거나, 여러 시점의 수익률을 더할 때 사용 |

이 표는 각 수익률의 기본적인 개념을 제공합니다. 실제 계산에서는 각 투자 상황에 따라 수익률 계산 방법이 달라질 수 있으므로 주의해야 합니다.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import FinanceDataReader as fdr

## 1. Simple Returns (단순 수익률)

$t$ 시간에서 ${t+1}$ 시간까지의 Return은 다음과 같이 계산됩니다. 나중가격  / 이전가격 - 1

$$ R_{t,t+1} = \frac{P_{t+1}-P_{t}}{P_{t}} = \frac{P_{t+1}}{P_{t}} - 1 $$

일일 수익률은 단순 수익률의 일종

In [2]:
# 주식 a 의 3일간의 가격 변화
prices_a = np.array([8.70, 8.91, 8.71])
prices_a

array([8.7 , 8.91, 8.71])

주식 a의 일일 수익률

In [3]:
returns = prices_a[1:] / prices_a[:-1] - 1
returns

array([ 0.02413793, -0.02244669])

이제 가격을 며칠 더 추가하고 두 번째 주식을 소개합니다. 이 두 주식을 "BLUE"와 "ORANGE"라고 부르고 Pandas DataFrame을 사용하여 다음과 같이 표시합니다.

In [4]:
prices = pd.DataFrame({"BLUE": [8.70, 8.91, 8.71, 8.43, 8.73],
                       "ORANGE": [10.66, 11.08, 10.71, 11.59, 12.11]})
prices

   BLUE  ORANGE
0  8.70   10.66
1  8.91   11.08
2  8.71   10.71
3  8.43   11.59
4  8.73   12.11

- 일일 수익률 계산 
$$ R_{t,t+1} = \frac{P_{t+1}-P_{t}}{P_{t}} = \frac{P_{t+1}}{P_{t}} - 1 $$

In [5]:
prices.iloc[1:] / prices.iloc[:-1].values - 1

       BLUE    ORANGE
1  0.024138  0.039400
2 -0.022447 -0.033394
3 -0.032147  0.082166
4  0.035587  0.044866

위와 동일한 결과를  `.shift()` 메서드를 이용하여 쉽게 구할 수 있습니다.

In [6]:
returns = prices / prices.shift(1) - 1
returns

       BLUE    ORANGE
0       NaN       NaN
1  0.024138  0.039400
2 -0.022447 -0.033394
3 -0.032147  0.082166
4  0.035587  0.044866

- 일반적으로 가격에서 수익으로 이동할 때 하나의 데이터 포인트를 잃음  
- DataFrame에는 한 행에서 다른 행으로의 백분율 변경을 계산하는 기본 제공 메서드가 있습니다. 이 방법을 사용하여 수익률을 위의 방법보다 더 쉽게 계산할 수 있습니다.

In [7]:
returns = prices.pct_change()
returns

       BLUE    ORANGE
0       NaN       NaN
1  0.024138  0.039400
2 -0.022447 -0.033394
3 -0.032147  0.082166
4  0.035587  0.044866

## 2. Compounding Returns (복리 수익률)

- 이제 일련의 12개월 수익률이 있으므로 수익률이 `1+R` 형식이라고 부르는 성장률(Growth Rate)로 표현되는 한 개별 기간 수익률을 곱하여 복리 수익률을 산출할 수 있습니다.

- CAGR(Compound Annual Growth Rate, 연평균 성장률, 연복리 수익률) 계산 공식  

    방법 1. 매(일, 월)별 수익률로 계산
        - 복리 수익률은 각 수익률에 1을 더한 다음 모두 곱하기만 하면 됩니다. 결과는 1+R 형식이므로 1을 빼야 합니다.  
        $$CAGR = \left( \prod_{t=1}^{n} (1 + R_t) \right) - 1$$  
    방법 2.  시초 가격과 최종 가격, 투자 기간으로 계산
    
$$CAGR = \left(\frac{최종가치}{최초가치}\right)^{\frac{1}{n}} - 1$$


두 시리즈의 복리 수익률을 계산해 보겠습니다.

In [8]:
#매월의 수익률
returns + 1

       BLUE    ORANGE
0       NaN       NaN
1  1.024138  1.039400
2  0.977553  0.966606
3  0.967853  1.082166
4  1.035587  1.044866

방법 1로 복리 수익률 계산

In [9]:
((returns+1).prod()-1)

BLUE      0.003448
ORANGE    0.136023
dtype: float64

방법 2로 복리 수익률 계산

두 방법의 결과가 동일함을 확인합니다.

In [10]:
(prices['BLUE'].values[-1]/prices['BLUE'].values[0]) - 1

0.0034482758620690834

In [11]:
(prices['ORANGE'].values[-1]/prices['ORANGE'].values[0]) - 1

0.1360225140712945

## 3. Annualizing Returns (연간 수익률)

일정 기간 동안의 수익률을 연간으로 계산하려면 1년의 기간만큼 수익률을 복리화합니다. 

월별 수익 $R_m$을 연간으로 환산하는 공식은 다음과 같습니다.

$$ (1+R_m)^{12} - 1$$

분기별 수익 $R_q$를 연간으로 환산하면 다음을 얻을 수 있습니다.

$$ (1+R_q)^{4} - 1$$

마지막으로 일일 수익 $R_d$를 연간으로 환산하면 다음을 얻을 수 있습니다.

$$ (1+R_d)^{252} - 1$$

예를 들어, 월별 1%, 분기별 4% 및 일일 수익률 0.01%를 연간화하려면 다음을 수행합니다.

In [12]:
rm = 0.01  #월별 1%

(1+rm)**12 - 1  #월별 수익률을 연간으로 환산

0.12682503013196977

In [13]:
rq = 0.04  #분기별 수익률
(1+rq)**4 - 1   #분기별 수익률을 연간으로 환산

0.1698585600000002

## 4. 누적 수익률 (Cumulative Return)
방법 1 : 매일(달)의 수익률로 계산  
누적 수익률 = (1+당일 수익률) * (전일자 누적 수익률)  
$$i_t = (1 + r_t) * i_{t-1}$$

방법 2: 처음, 마지막 가격으로 계산  
누적 수익률 = $\left( \frac{현재가격}{과거가격} \right) - 1$

- 누적 수익률은 단순 덧셈이 아닌 곱셉으로 계산  
 
ex) 10000원이었던 주식이 첫째 달에 10% 상승하고 둘째 달에 20% 상승하게 된다면 누적 수익률은 30%가 아닌, 32%

|기존|10,000원|0%|
|-----|----|----|
|첫째달|11,000원|10%상승|
|둘째달|13,200원|20%상승|
|누적수익률| |32%상승| 

$$(1+0.2)*(1+0.1)-1$$

방법 1 :  (1+당일 수익률) * (전일자 누적 수익률)

In [14]:
(1+0.2) * (1+0.1) - 1

0.32000000000000006

방법 2: (현재가격/과거가격) - 1

In [15]:
(13200 / 10000) - 1

0.32000000000000006

## 5. Log Returns (로그 수익률)

$$Log 수익률 = log⁡(나중가격/이전가격)  = log(나중가격) – log(이전가격)$$

$$R_t = \log{(P_{t+1}/P_t)} = \log{P_{t+1}} - \log{P_t}$$

- 자산 가격의 변화 : 100 $\rightarrow$ 130 $\rightarrow$ 100

In [16]:
#simple return의 누적 수익률
(130 - 100) / 100 + (100 - 130) / 130

0.0692307692307692

In [17]:
#log return의 누적 수익률
(np.log(130) - np.log(100)) + (np.log(100) - np.log(130))

0.0

- 일별 로그 수익률

In [18]:
df = fdr.DataReader("AAPL",  start="2022-06-02", end="2022-06-30")
df.drop(["High", "Low", "Open", "Volume", "Adj Close"], axis=1, inplace=True)
df.head()

                 Close
Date
2022-06-02  151.210007
2022-06-03  145.380005
2022-06-06  146.139999
2022-06-07  148.710007
2022-06-08  147.960007

In [19]:
# 단순 수익률
df['SimpleReturn'] = df['Close'].pct_change()
# 로그 수익률
df['LogReturn'] = np.log(df['Close']) - np.log(df['Close'].shift(1))
df.head()

                 Close  SimpleReturn  LogReturn
Date
2022-06-02  151.210007           NaN        NaN
2022-06-03  145.380005     -0.038556  -0.039319
2022-06-06  146.139999      0.005228   0.005214
2022-06-07  148.710007      0.017586   0.017433
2022-06-08  147.960007     -0.005043  -0.005056

### 누적 로그 수익률
- 로그 수익률은 cumsum() 사용  
- 단순히 daily return 을 더하면 기간 전체의 복리로 계산된 누적 수익률이 계산됨

In [20]:
df = df.round(6)

In [21]:
df['Cum LogReturn'] = df['LogReturn'].cumsum()
df.head()

                 Close  SimpleReturn  LogReturn  Cum LogReturn
Date
2022-06-02  151.210007           NaN        NaN            NaN
2022-06-03  145.380005     -0.038556  -0.039319      -0.039319
2022-06-06  146.139999      0.005228   0.005214      -0.034105
2022-06-07  148.710007      0.017586   0.017433      -0.016672
2022-06-08  147.960007     -0.005043  -0.005056      -0.021728

- 누적 로그 수익률

$$1 + r = \log{\frac{p_t}{p_0}}$$ 

- 로그 수익률: 복리로 반영  
- 단순 수익률 : 단리로 반영

In [22]:
np.log(df['Close'].iloc[-1] / df['Close'].iloc[0])

-0.08254243222605803

In [23]:
(df['Close'].iloc[-1] - df['Close'].iloc[0]) / df['Close'].iloc[0]

-0.07922763339333747

## 연습 문제

1) 1,000,000 원을 수익률 10%로 10년, 20년, 30년 투자할 때 원금+수익 금액은 ?

In [24]:
print("{:,.0f}".format(1_000_000 * (1+0.1)**10))
print("{:,.0f}".format(1_000_000 * (1+0.1)**20))
print("{:,.0f}".format(1_000_000 * (1+0.1)**30))

2,593,742
6,727,500
17,449,402

2) 10,000 원을 10 년간 투자했는데 100,000 이 되었다. 누적 수익률과 CAGR 은  ?

In [25]:
# 누적 수익률
(100_000 / 10_000) - 1

9.0

In [26]:
# CAGR
(100_000 / 10_000) ** (1/10) - 1

0.2589254117941673

3) 애플 주식이 100불에서 10년 뒤 300 불이 되었다면 누적수익률과 CAGR 은 ?

In [27]:
# 누적 수익률
(300 / 100) - 1

2.0

In [28]:
# CAGR
(300 / 100) ** (1/10) - 1

0.11612317403390437

## 72의 법칙

72의 법칙("Rule of 72")은 복리 투자의 성장 시간을 대략적으로 추정하기 위한 수학적 방법입니다. 이 법칙은 원금이 복리로 얼마나 빨리 두 배로 늘어날지를 대략적으로 계산하는데 사용됩니다.  
이 법칙은 다음과 같이 사용됩니다: 투자의 연간 복리 수익률을 72로 나누면, 그 결과는 투자금이 두 배가 되는데 필요한 대략적인 년수를 나타냅니다.  
예를 들어, 연간 복리 이자율이 6%인 경우, 투자금이 두 배가 되는 데는 대략 12년(72 / 6)이 걸린다는 것을 알 수 있습니다.

원금이 2 배가 되는데 걸리는 시간 = 72/CAGR  

ex) 10_000 원을 CAGR 10% 로 운용하면 72/10 = 7.2 년 후 원금이 2 배가 된다.

In [29]:
years = 72/10
print("원금+이자 {:,.0f}원 된는데".format(10000 * (1+0.01)**years))
print("{} 년 소요".format(years))

원금+이자 10,743원 된는데
7.2 년 소요

CAGR 20% 인 경우

In [30]:
years = 72/20
print("원금+이자 {:,.0f}원 되는데".format(10000 * (1+0.01)**years))
print("{} 년 소요".format(years))

원금+이자 10,365원 되는데
3.6 년 소요

CAGR 30% 인 경우

In [31]:
years = 72/30
print("원금+이자 {:,.0f}원 되는데".format(10000 * (1+0.01)**years))
print("{} 년 소요".format(years))

원금+이자 10,242원 되는데
2.4 년 소요